body {
    margin:0;
    padding:0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(253, 253, 253);
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: 7% 93%;
    grid-template-areas: 
        "header"
        "main" "main" "main";
}

h2{
    color: rgb(73, 19, 120);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:xx-large;
}

h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
    color: rgb(121, 83, 154);
}

p{
    font-family: 'Times New Roman', Times, serif;
    line-height: 170%;
}

header{
    margin: 2%;
    grid-area: header;
    display: grid;
    grid-template-columns: 15% 30% auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "nav1 nav2 nav3 nav4 nav5 nav6 nav7 nav8 nav9 nav10 nav11 nav12 nav13 nav14";   
    font-family: 'Times New Roman', Times, serif;
}

nav:nth-of-type(1) {
    grid-area: nav1;   
}

nav:nth-of-type(2) {
    grid-area: nav2;   
}

nav:nth-of-type(3) {
    grid-area: nav3;
}


.main {
    grid-area: main;
    margin: 7%;
    display: grid;
    grid-template-columns: 50% 10% 40%;
    grid-template-rows: auto;
    grid-template-areas: "section1 section2 section3";
    border-bottom: black;

}

section:nth-of-type(1) {
    grid-area: section1;
    
}

section:nth-of-type(2) {
    grid-area: section2;
}

section:nth-of-type(3) {
    grid-area: section3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



 a:link{
        color:black;
        text-decoration: none;
    } 

 a:visited{
        color:black;
    }

a:hover{
    color: rgb(121, 83, 154);
    } 